doctype html
html(lang="en")
    head
        include partials/header
    body 
        header.barra
            h1 Order-flow
            a(href="/cerrar-sesion") Cerrar sesión
        
        main.contenedor 
            aside.contenedor-proyectos
                .panel 
                    p Menu

                if locals.user.rol=="Repartidor"
                    .panel.crear-proyecto
                        a(href="/ver-ordenes" class="boton") Ver ordenes
                            span 
                                i.fa-solid.fa-eye
    
                else if locals.user.rol=="Administrador"
                    .panel.crear-proyecto
                        a(href="/nueva-orden" class="boton") Nueva orden
                            span 
                                i.fa-solid.fa-plus

                    .panel.crear-proyecto
                        a(href="/ver-ordenes" class="boton") Ver ordenes
                            span 
                                i.fa-solid.fa-eye

            block contenido
        
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz' crossorigin='anonymous')
        script(src='https://kit.fontawesome.com/d8b9213a66.js' crossorigin='anonymous')
        script(src="../dist/bundle.js") 
        
