html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}
/** Login **/
.login,
.crear-cuenta {
    background: #005485;
}
.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.contenedor-formulario h1 {
    text-align: center;
    color: white;
}
.contenedor-formulario h1  span{
    font-weight: 400;
    font-size: 1.2rem;
}
.contenedor-formulario p {
    text-align: center;
    color: white;
    font-size: 1.4rem;
}
.caja-login {
    background-color: #F2F2F2;
    border: 1px solid #707070;
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
}
.campo {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.campo label {
    flex: 0 0 100px;
    text-align: right;
    padding-right: 1rem;
}
.campo input[type="email"],
.campo input[type="text"],
.campo input[type="password"] {
    height: 3rem;
    border: 0;
    flex: 1;
    border: 1px solid #455A64;
    border-radius: 5rem;
    padding-left: .5rem;
    color: black;
}
.campo.acciones {
    justify-content: space-between;
}
.enviar {
   justify-content: flex-end;
}
.boton {
    background-color: #FDD835;
    text-align: center;
    transition: background-color .5s ease-in-out;
    padding: 1rem;
    text-transform: uppercase;
    border: none;
    font-weight: 900;
    width: 260px;
    margin:0  auto;

    display: flex;
    align-items: center;
    line-height: 0;
}
.boton span {
    font-size: 2.2rem;
    margin-left: 20px;
}

.boton:hover {
    cursor: pointer;
    background-color: rgb(219, 184, 29);
}
.boton.eliminar {
    margin-top: 1rem;
    float: right;
    background-color: red!important;
    color: white;
}
.campo a {
    color: black;
    text-decoration: none;
}

/** Barra **/
body.index {
    height: 100vh;
}
.barra {
    background-color: #005485;
    padding: 1rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra h1 {
    color: white;
    margin:0;
    font-size: 1.4rem;
}
.barra a {
    color: white;
    text-decoration: none;
}
/*** sidebar**/
.contenedor-proyectos {
    height: 100%;
    width: 300px;
    background-color: #0c3046;
    padding-top: 1rem;
} 
.panel {
    width: 100%;
    padding: 0rem;
    /* margin: 1rem; */
}
.panel p{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
}
.panel a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}
.panel h2 {
    color: #FDD835;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}


.crear-proyecto i {
    margin-left: 1rem;
}
.crear-proyecto a {
    color: #fff;
}

.crear-proyecto .boton{
    background-color: transparent;
}
.crear-proyecto .boton:hover{
    background-color:#6b7072;
}

.lista-proyectos ul{
    list-style: none;
    padding: 1.5rem 0 0 0;
    margin: 0;
}
.lista-proyectos ul li {
    margin-bottom: 1rem;
}
.lista-proyectos ul li a:hover {
    color: #FDD835;
}
/** Contenido Principal */
.contenedor {
    display: flex;
    height: calc( 100vh - 60px);
}
.contenido-principal {
    flex: 1;
    padding: 1rem;
    overflow: scroll;
}
.contenido-principal h1,
.contenido-principal h2 {
    text-align: center;
}
.contenido-principal h1 {
    font-size: 1.8rem;
}
.contenido-principal h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}
.contenido-principal h1 span {
    font-weight: 400;
}
.agregar-tarea {
    max-width: 800px;
    width: 90%;
    background-color: #607D8B;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}

/** Listado Pendientes **/
.listado-pendientes {
    background-color: #F2F2F2;
    max-width: 1300px;
    /* width: 90%; */
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
}
.listado-pendientes ul {
    padding: 0;
    list-style: none;
}
.listado-pendientes ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
}

.listado-pendientes ul li p{
    width: 100%;
    text-align: center;
}
.listado-pendientes ul li:last-of-type {
    border-bottom: none;
}
.listado-pendientes ul li i {
    cursor: pointer;
}


.completo {
    color: #00B762;
}

.alertas{
    padding: .5rem;
    font-weight: 900;
    max-width: 300px;
    margin: 0 auto -1rem auto;
    text-transform: uppercase;
}
.alertas p{
    font-weight: 200;
    color: #c40000;
    text-transform: capitalize;
    margin: 0;
    font-size: .9rem;
}
.alerta {
    padding: .5rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 900;
    max-width: 300px;
    margin: 0 auto 1rem auto;
    text-transform: uppercase;
    color:red;
    border: .1rem solid red;
    background-color: rgb(219, 161, 161);
}
.error {
    color: red!important;
    background-color: rgb(255, 201, 201);
    border: 1px solid red;
}
.error p {
    color: red!important;
}
.correcto {
    color: green;
    background-color: rgb(201, 245, 201);
    border: 1px solid green;
}
.correcto p {
    color: green;
}

/** Linea de Avance **/
.barra-avance {
    height: 30px;
    border: 1px solid #999;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}
.porcentaje {
    width: 0%;
    height: 100%;
    background-color: #00B762;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    transition: width .3s ease;
}

form fieldset:nth-child(1){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1300px;
    padding: 30px;
}
form.agregar-proyecto {
    
    /* width: 90%; */
    /* background-color: #607D8B; */
    margin: 0 auto;
    padding: 2rem;
    color: black;
    transition: background-color .5s ease-in-out;
}
.amplitud{
    grid-column: 1/4;
    /* max-width: 800px;  */
    margin: 0 220px 30px;
    
}

.red{
    background-color:#c24d4d;
}

.agregar-producto{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
}


form.agregar-proyecto label,
form.agregar-proyecto input {
    display: block;
}
form.agregar-proyecto label {
    flex: 0 0 150px;
    text-align: right;
    padding-right: 1rem;
}
form.agregar-proyecto input[type="text"]{
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid #455A64;
    border-radius: 5rem;
    color: black;
}
form input[type="submit"]{
    margin-top: 1rem;
    text-align: center;
    display: block;
    padding: 1.5rem;
    color: black;
    width: auto;
    margin: 0;
}

.contenedor-acciones {
    max-width: 800px;
    margin: 2rem auto 0 auto;
    width: 90%;

    display: flex;
    justify-content: space-between;
}
.contenedor-acciones .boton:first-of-type{
    color: black;
    text-decoration: none;
}
.contenedor-acciones .boton.eliminar {
    color: white;
}
.contenedor-acciones .boton {
    margin: 0;
    text-align: center;
    display: block;
}

form fieldset{
    border: 3px solid  black;
    margin-bottom: 20px;
}

fieldset fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form legend{
    padding: 10px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    background-color: #005485;
    color: white;
    text-transform: uppercase;
    width: 100%;
}

.acciones{
    display: flex;
    justify-content: center;
}

.acciones .boton{
    /* background-color: #fff; */
    transition: background-color .5s ease-in-out;
    font-size: 23px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    border: 0.1rem solid #005485;
    border-radius: 50%;
    margin: 0 1px;
}

.azul{
    background-color: #005485;
}

.parrafoEstado{
    background-color: #005485;
    color: #F2F2F2;
    font-weight: 700;
    max-width: 13%;
    margin-right: 3px;
    height: 30px;
}

li .masDetalles{
    max-width: 80%;
    text-align: center;
}

.masDetalles{
    display: flex;
    font-size: 15px;
    background-color: #00B762;
    cursor: pointer;
    color: #fff !important;
    height: 40px;
    align-items: center;
    margin-left: 50px;
    border-radius: 10px 0 10px 0;
    border: 2px solid #005485;
}

.masDetalles:hover{
    color:#00B762  ;
    background-color: #fff;
    border-color: black  ;
}

.principal{
    display: grid;

    grid-template-areas: "detalles historial";

    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
}

.nav-detalles {
    display: flex;
    justify-content: center;
    height: 3rem;
    align-items: center;
    border-bottom:2px solid #005485;
    
}

.nav-detalles div{
    padding: 0.7rem 8rem 0 8rem;
    text-align: center; 
}

.nav-detalles .enmarcado{
    border-top: 2px solid #005485;
    border-left: 2px solid #005485;
    border-right: 2px solid #005485;

}

.nav-detalles div a{
    text-decoration: none;
    font-size: 30px;
    color: #000;
    font-weight:600;
}

.seleccionado{
    border-bottom: 1px solid white;
}

.mapa{
    display:none;
    justify-content:  center;
}

.contenedor-historial{
    display: flex;
    justify-content: center;
}

scroll-container {
    display: block;
    width: 35rem;
    height: 30rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 2px solid #000;
}
scroll-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    font-size: 1.5rem;
}

scroll-page span{
    color: red;
    font-size: 1.5rem;
}

.form-crear{
    width: 31.2rem;
    /* height: 53.8rem; */
    padding: 1.4rem 1.8rem;
    display: flex;
    flex-direction: column;
}

.form-crear-principal{
    height: 50rem;
}
.form-crear .campo{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: start;
    margin: .7rem 1rem ;
}
.form-crear .campo:nth-child(8){
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.form-crear .campo:nth-child(8) a{
    margin-left: .8rem;
    color: #0066c0;
}
.form-crear .campo label{
    flex-basis: 0px;
    font-weight: 700;
    margin: .3rem 0;
}

.form-crear .campo input{

    width: 100%;
    border-radius: 0rem !important;
    text-align: start;
    /* display: block; */
    flex-basis: 2.5rem;
    flex-shrink: 0;
}


.form-crear h1{
    color: #000;
    font-weight: 200;
    margin-bottom: 1rem;
}

.form-crear input[class="boton"]{
    background-color: #68bcec;
    font-weight: 200;
    text-transform: capitalize;
    text-align: center;

    margin-bottom: 2rem;
    border: .8px solid #035483 ;
    /* transition: all .6s ease-out; */
}

.form-crear input[class="boton"]:hover{
    background-color:#298ec9 ;
}

.form-crear .acciones a{
    margin: .5rem 0;
}

.modal-body{
    display: flex;
    flex-direction: column;


}

.opciones_pago{
    display: flex;
    padding-top: 5rem;
}


.pse{
    height: 3rem;
    width: 3rem;
}

.llamada{
    /* display: block; */
    height: 3rem;
    width: 3rem;
}

.form-check{
    padding: .5rem 0 .5rem 0;
}

.detalles{
    padding-top: 2rem;
}

.info p:nth-child(1){
    text-transform: uppercase;
    font-weight: bold;
}

.info{
    font-weight: bold;
}

.proveedor{
    text-align: center;
}

.cliente{
    text-align: center;
}

.repartidor{
    text-align: center;
}

.productos{
    text-align: center;
}

.imgPDF{
    height: 2rem;
}